<mat-card>
  <mat-card-content>

    <!---Toll bar antes da tabela-->
    <mat-toolbar color='primary'>Tabela de Cursos</mat-toolbar>

      <!--Sobreado da Tabela-->
      <div class="column-flex mat-elevation-z8">

        <!--Vai receber informação de outro componente "Course-List"-->
        <!--Se não tiver dado apresenta o spinner-->
        <app-courses-list *ngIf="courses$ | async as courses; else loading"
        [courses]="courses"
        (add)="onAdd()"
        ></app-courses-list>

        <ng-template #loading>
          <div class="loading-spinner">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </div>
  </mat-card-content>
</mat-card>
